.title {
font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;

font-size: 45px;

color: #002efc; 

font-weight: 400;

font-style: normal;

text-align:center;
}

.text {
line-height: 50px;


}
